.content
  .sidebar
    %img#avatar.img-circle{href: 'images/yutafujii.jpg'}
    %h2 Yuta Fujii
    %h4 Full Stack Developer

  .exective-summary
    .card-summary
      %img.icon-summary{href: 'source/images/avatar.jpg'}
      %h3 +3 projects
      %p Conducted several projects including marketplace to API using.

    .card-summary
      %img.icon-summary{href: 'source/images/avatar.jpg'}
      %h3 +3 projects
      %p Conducted several projects including marketplace to API using.

    .card-summary
      %img.icon-summary{href: 'source/images/avatar.jpg'}
      %h3 +3 projects
      %p Conducted several projects including marketplace to API using.

  .products-body-image
    %img{href: 'source/images/avatar.jpg'}

  .products-body-content
    %h2 Title
    %ul
      %li comment1
      %li comment2
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In temporibus sit eaque dicta. Sunt veniam cumque eligendi. Fugit qui eius ducimus temporibus! Fuga fugit repellat soluta possimus error explicabo minima.
