.grid-container
  .sidebar
    .nameboard
      %img#avatar.img-circle{src: 'images/yutafujii.jpg'}
      %h2 Yuta Fujii
      %h4 Full Stack Developer
      .contacts
        %ul
          %li
            %a{href: "https://github.com/YutaFujii0",target: :blank} <i class="fab fa-github-square"></i>
          %li
            %a{href: "https://www.linkedin.com/in/yuta-fujii-121484176/",target: :blank} <i class="fab fa-linkedin"></i>
          %li
            %a{href: "https://www.facebook.com/yuta.fujii.142",target: :blank} <i class="fab fa-facebook"></i>

    .lang-parent
      %span.language Ruby
      %span.language Ruby on Rails
      %span.language JavaScript
      %span.language HTML5
      %span.language haml
      %span.language CSS/SCSS
      %span.language SQL
      %span.language AWS
      %span.language React.js
      %span.language Python

  .card-summary.left
    %img.icon-summary{src: 'images/noun_Ship_975742.png'}
    .description
      %h3
        %span.l-red 3
        projects
      %h4 As a team leader / individual

  .card-summary.center
    %img.icon-summary{src: 'images/noun_code_1703083.png'}
    .description
      %h3
        %span.l-red +670
        hours
      %h4 Learning programming

  .card-summary.right
    %img.icon-summary{src: 'images/noun_finance_1504060.png'}
    .description
      %h3
        %span.l-red 3
        years
      %h4 Experience of finance(IBD)

  .product-body-image
    %img{src: 'images/pro03_miru.png'}

  .product-body-content
    %h2 Title
    %ul
      %li comment1
      %li comment2
    %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. In temporibus sit eaque dicta. Sunt veniam cumque eligendi. Fugit qui eius ducimus temporibus! Fuga fugit repellat soluta possimus error explicabo minima.
